/* +--------------------------------------------------------------------------+
// 2013 PMB Services / www.sigb.net pmb@sigb.net et contributeurs (voir www.sigb.net)
// +-------------------------------------------------+
// $Id: boccagehallue.css,v 1.1.2.6 2013-09-09 12:18:08 wlair Exp $ */


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                         ATTRIBUTS GENERAUX                                 */
/*                                                                            */
/*                     attrbitus generaux de la page                          */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


body#pmbopac {
	background-position: center top;
	background-repeat: repeat-x;
	background-image: url("./images/fond.jpg");
	background-color: #8FC9CB;
}

body {
	font-family: Arial, Trebuchet, Helvetica, Sans Serif;
	font-size: 12px;
	color: #000000;
}

#container {
	margin: 0px auto;
	width: 985px;
	position: relative;
	background-repeat: no-repeat;
	background-position: left top;
	background-image: url("./images/frise.jpg");
	-ms-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid #ffffff;
	-ms-box-shadow: 0px 0px 5px #666666;
	-o-box-shadow: 0px 0px 5px #666666;
	-moz-box-shadow: 0px 0px 5px #666666;
	-webkit-box-shadow: 0px 0px 5px #666666;
	box-shadow: 0px 0px 5px #666666;
	background-color: #ffffff;
	position: relative;
	top: 223px;
	padding-top: 10px;
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                                  IFRAME                                    */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


/* -----------------------------------------------------*/
/*                         Panier                       */
/* -----------------------------------------------------*/


#resume_panier {
}

#iframe_resume_panier {
    height: 25px;
}

body.cart_info_body {
	background-color : transparent;
	font-family : arial, verdana, helvetica, sans-serif;
	margin: 0px;
	font-size: 13px;
}


/* --------------lien panier----------------*/


body.cart_info_body a {
}

body.cart_info_body a:hover {
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                            Intro_bibli                                     */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


#intro {
	position: absolute;
	top: 0px;
	left: 0px;
	background-repeat: no-repeat;
	background-image: url("./images/bandeau.png");
	background-position: right top;
	width: 985px;
}

#intro_bibli  {
	background-repeat: no-repeat;
	background-image: url("./images/fond_logo.png");
	background-position: left top;
	height: 220px;
}

#intro_bibli h3 {
	display: none;
}


/* -----------------------------------------------------*/
/*                 biblio_preamble_p1                   */
/* -----------------------------------------------------*/


#intro .p1 {
	height: 220px;
}

#intro .p1 img {
	margin-left: 30px;
    margin-top: 25px;
}


/* -----------------------------------------------------*/
/*                 biblio_preamble_p2                   */
/* -----------------------------------------------------*/


#intro .p2 {
	position: absolute;
	right: 0px;
}

#menuDeroulant, .cms_menu_deep0 {
	font-size: 17px;
	list-style: none;
	padding-top: 9px;
}

#menuDeroulant li, .cms_menu_deep0 li {
	display: block;
	float: left;
	padding-left: 33px;
	padding-right: 33px;
	position: relative;
	border-right: 1px solid #ffffff;
}

#menuDeroulant li:last-child, .cms_menu_deep0 li:last-child {
	border-right: none;
}

#menuDeroulant li a, .cms_menu_deep0 li a {
	text-decoration: none;
	color: #ffffff;
	padding-bottom: 11px;
}

#menuDeroulant li a:hover, .cms_menu_deep0 li a:hover {
	-ms-text-shadow: 0px 0px 3px #ffffff;
	-o-text-shadow: 0px 0px 3px #ffffff;
	-webkit-text-shadow: 0px 0px 3px #ffffff;
	-moz-text-shadow: 0px 0px 3px #ffffff;
	text-shadow: 0px 0px 3px #ffffff;
}
 

/******************* sous-menu ********************/


#menuDeroulant .sousMenu, .cms_menu_deep1 {
    display: none;
    position: absolute;
    left: 29px;
    top: 26px;
    width: 170px;
    -o-box-shadow: 0px 1px 2px #666666;
    -moz-box-shadow: 0px 1px 2px #666666;
    -ms-box-shadow: 0px 1px 2px #666666;
    -webkit-box-shadow: 0px 1px 2px #666666;
    box-shadow: 0px 1px 2px #666666;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}

#menuDeroulant .sousMenu li, .cms_menu_deep1 li {
	display: block;
	float: none;
	border: none;
	border-bottom: 1px solid #ffffff;
	padding-left: 0px;
	padding-right: 0px;
}

#menuDeroulant .sousMenu li a, .cms_menu_deep1 li a {
	background-color: #8FC9CB;
	display: block;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

#menuDeroulant .sousMenu li a:hover, .cms_menu_deep1 li a:hover {
	background-color: #62ACAD;
}

#menuDeroulant li:hover > .sousMenu, .cms_menu_deep0 li:hover > .cms_menu_deep1 {
    display: block;
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                            Contenu du Bandeau                              */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


#bandeau {
    position: absolute;
    top: 234px;
    left: 0px;
    width: 187px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 15px;
    background-repeat: no-repeat;
    background-position: left top;
    background-image: url("./images/bandeau.jpg");
}

#bandeau div {
    margin-bottom: 20px;
}

#bandeau div div {
    margin-bottom: 0px;
}


/* -----------------------------------------------------*/
/*                        Accueil                       */
/* -----------------------------------------------------*/


#accueil {
	display: none;
}

#accueil p.centered img {
	max-width: 100%;
}


/* ------------lang_select------------*/


#lang_select {
}

#lang_select h3 {
	display: none;
}


/* -----------------------------------------------------*/
/*                      Connexion                       */
/* -----------------------------------------------------*/


#connexion {
	margin-bottom: 25px;
	height: 135px;
}

#login_form b {
	font-size: 17px;
}

#login_form form label, #login_form form br {
	display: none;
}


/* ---------------Input---------------*/


input.login, input.password {
	width: 120px;
	margin-bottom: 3px;
}

#login_form input.bouton {
	text-transform: uppercase;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}


/* -----------------------------------------------------*/
/*                        Meteo                         */
/* -----------------------------------------------------*/


#meteo {
}


/* -----------------------------------------------------*/
/*                       Adresse                        */
/* -----------------------------------------------------*/


#adresse {
    display: none;
}


/* -----------------------------------------------------*/
/*                 biblio_post_adress                   */
/* -----------------------------------------------------*/


#post_adress {
}


/* -----------------------------------------------------*/
/*                        lvl1                          */
/* -----------------------------------------------------*/


#lvl1 {
}


/* -----------------------------------------------------*/
/*                       Facettes                       */
/* -----------------------------------------------------*/


#facette {
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                            Contenu du Bandeau 2                            */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


#bandeau_2 {
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                            Contenu du Main                                 */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


#main {
}

#main_hors_footer {
	min-height: 415px;
	padding-bottom: 45px;
}


/* ---------------------------------------------------------------------------*/
/*                                Main_header                                 */
/* ---------------------------------------------------------------------------*/


#main_header {
}


/* -----------------------------------------------------*/
/*                     Intro_message                    */
/* -----------------------------------------------------*/


#intro_message {
	border-bottom: none !important;
}


/* --------biblio_important_p1-----------*/

#intro_message .p1 {
	margin-bottom: 20px;
}


/* -----------------------------------------------------*/
/*                        Navigator                     */
/* -----------------------------------------------------*/


#navigator {
	margin-bottom: 10px;
}

#navigator strong {
	display: none;
}

#navigator a {
	display: block;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
    -moz-box-shadow: 0px 0px 2px #B4B4B4 inset;
    -webkit-box-shadow: 0px 0px 2px #B4B4B4 inset;
    box-shadow: 0px 0px 2px #B4B4B4 inset;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #ececec;
	text-decoration: none;
}

#navigator a:hover {
	border: 2px solid #8FC9CB;
}

#navigator a.navig_categ, #navigator a.navig_lastnotices, #navigator a.navig_etageres, #navigator a.navig_marguerite, #navigator a.navig_100cases {
	display: none;
}


/* -----------------------------------------------------*/
/*                        Search                        */
/* -----------------------------------------------------*/


#search {
	margin-top: 35px;
	margin-bottom: 20px;
	border: 1px solid #ececec;
}

#search ul.search_tabs {
    margin-top: -27px;
}

#search form {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-top: 15px;
}

#search .p1 {
	font-style: italic;
	display: none;
}

#search .notice-parent .notice-heada {
    font-size: 12px;
}

#zsimplesChild {
    margin-bottom: 0px !important;
    border: none;
}

#resultatrech h3 span {
    font-size: 16px;
}

#search_onglet {
    margin-bottom: 10px;
}


/* -----------------------------------------------------*/
/*                 Liste periodiques                    */
/* -----------------------------------------------------*/


table.a2z_perio_list tr td {
	border-bottom: 1px solid #ececec;
	padding-bottom: 3px;
}


/* -----------------------------------------------------*/
/*                       Categories                     */
/* -----------------------------------------------------*/


#categories {
	margin-bottom: 20px;
	clear: both;
}

#categories-container {
	border: 1px solid #ececec;
	padding-top: 10px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
    clear: both;
}

#categories-container h2 {
	font-size: 17px;
	font-weight: normal;
}

#categories-container h2 img {
    margin-right: 7px;
}

#categories-container ul {
	padding-left: 16px;
    border-bottom: 1px dotted #ececec;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#categories-container ul li {
	display: block;
    float: left;
    list-style: none;
}

#categories-container li a {
	padding-left: 5px;
	padding-right: 5px;
	background: none;
	color: #333333;
	font-size: 13px;
}

#categories-container li a:hover {
	text-decoration: underline;
}


/* -----------------------------------------------------*/
/*                    Localisations                     */
/* -----------------------------------------------------*/


#location {
    margin-bottom: 30px;
    clear: both;
}


/* -----------------------------------------------------*/
/*               Dernieres Acquisitions                 */
/* -----------------------------------------------------*/


#last_entries {
	margin-bottom: 30px;
	clear: both;
}

#last_entries-container {
	border: 1px solid #ececec;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}


/* -----------------------------------------------------*/
/*                        Etageres                      */
/* -----------------------------------------------------*/


#etageres {
	margin-bottom: 30px;
	clear: both;	
}

#etagere-container {
}

.etagere {
    margin-bottom: 10px;
	border: 1px solid #ececec;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

#etagere-titre h1 {
	font-size: 16px;
}

#etagere-titre h1 a {
	color: #4180B5;
}


/* -----------------------------------------------------*/
/*                        Footer                        */
/* -----------------------------------------------------*/


#footer {
	background-repeat: repeat-x;
	background-position: left top;
	background-image: url("./images/footer.jpg");
	padding-top: 5px;
	padding-bottom: 5px;
	clear: both;
	position: absolute;
	width: 983px;
	left: 0px;
	bottom: 0px;
	margin-bottom: 5px;
	-moz-border-radius-leftbottom: 15px;
	-moz-border-radius-rightbottom: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

#footer a {
	color: #ffffff;
	padding: 0 5px;
	border-right: 1px solid #ffffff;
}

#footer span, #cms_module_articleslist_82, #cms_module_article_113, #cms_module_article_112, #cms_module_article_111 {
	display: inline !important;
	line-height: 24px;
}

#cms_module_articleslist_82 a img {
	vertical-align: middle;
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                                    Menus                                   */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


ul.search_tabs, ul.empr_tabs, ul.list_tabs {
	border-bottom: 1px solid #ED4837;
	height: 26px;
}

ul.search_tabs li, ul.empr_tabs li, ul.list_tabs li {
    border-right: 1px solid #ececec;
    float: left;
    display: block;
}

ul.search_tabs li a, ul.empr_tabs li a, ul.list_tabs li a {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px; 
	padding-right: 10px;
	display: block;
	border: 1px solid #ffffff;
	border-bottom: none;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	text-decoration: none;
}

ul.search_tabs li a:hover, ul.empr_tabs li a:hover, ul.list_tabs li a:hover {
	color: #ffffff;
	background-color: #94c130;
	border: 1px solid #94c130;
	border-bottom: none;
	-moz-box-shadow: 0px 1px 0px #ffffff inset;
	-o-box-shadow: 0px 1px 0px #ffffff inset;
	-ms-box-shadow: 0px 1px 0px #ffffff inset;
	-webkit-box-shadow: 0px 1px 0px #ffffff inset;
	box-shadow: 0px 1px 0px #ffffff inset;
}

ul.search_tabs li#current {
	color: #ffffff;
	background-color: #ED4837;
	border: 1px solid #ED4837;
	border-bottom: none;
	font-weight: bold;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-box-shadow: 0px 1px 0px #ffffff inset;
	-o-box-shadow: 0px 1px 0px #ffffff inset;
	-ms-box-shadow: 0px 1px 0px #ffffff inset;
	-webkit-box-shadow: 0px 1px 0px #ffffff inset;
	box-shadow: 0px 1px 0px #ffffff inset;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px; 
	padding-right: 10px; 
}

ul.empr_tabs li#current a, ul.list_tabs li#current a {
	color: #ffffff;
	background-color: #ED4837;
	border: 1px solid #ED4837;
	border-bottom: none;
	font-weight: bold;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-box-shadow: 0px 1px 0px #ffffff inset;
	-o-box-shadow: 0px 1px 0px #ffffff inset;
	-ms-box-shadow: 0px 1px 0px #ffffff inset;
	-webkit-box-shadow: 0px 1px 0px #ffffff inset;
	box-shadow: 0px 1px 0px #ffffff inset;
}

#search_onglet ul.search_tabs li.current a, #onglets_list ul.list_tabs li.current a {
	color: #ffffff;
	background-color: #ED4837;
	border: 1px solid #ED4837;
	border-bottom: none;
	font-weight: bold;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-box-shadow: 0px 1px 0px #ffffff inset;
	-o-box-shadow: 0px 1px 0px #ffffff inset;
	-ms-box-shadow: 0px 1px 0px #ffffff inset;
	-webkit-box-shadow: 0px 1px 0px #ffffff inset;
	box-shadow: 0px 1px 0px #ffffff inset;
}

ul.empr_subtabs {
	list-style: none;
	margin-top: 10px;
}

ul.empr_subtabs li {
	margin-right: 10px;
	border-right: 1px solid #cccccc;
	display: block;
	float: left;
}

ul.empr_subtabs li a {
	padding-right: 10px;
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                       Onglets de l'affichage public/ISBD                   */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


ul.onglets_isbd_public {
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 15px;
	border-bottom: 1px solid #ED4837;
	margin-top: 10px;
}
 
ul.onglets_isbd_public li {
    margin-bottom: 3px; 
    float: left;
    display: block;
}

ul.onglets_isbd_public li a {
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid #ffffff;
	border-bottom: none;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	text-decoration: none;
}

ul.onglets_isbd_public li a:hover {
	color: #ffffff;
	background-color: #94c130;
	border: 1px solid #94c130;
	border-bottom: none;
	-moz-box-shadow: 0px 1px 0px #ffffff inset;
	-o-box-shadow: 0px 1px 0px #ffffff inset;
	-ms-box-shadow: 0px 1px 0px #ffffff inset;
	-webkit-box-shadow: 0px 1px 0px #ffffff inset;
	box-shadow: 0px 1px 0px #ffffff inset;
}

ul.onglets_isbd_public li.isbd_public_active a {
	color: #ffffff;
	background-color: #ED4837;
	border: 1px solid #ED4837;
	font-weight: bold;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-box-shadow: 0px 1px 0px #ffffff inset;
	-o-box-shadow: 0px 1px 0px #ffffff inset;
	-ms-box-shadow: 0px 1px 0px #ffffff inset;
	-webkit-box-shadow: 0px 1px 0px #ffffff inset;
	box-shadow: 0px 1px 0px #ffffff inset;
}

ul.onglets_isbd_public li img {
    vertical-align: bottom;
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                         Balises HTML de base                               */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


a {
	text-decoration: none;
	color: #109dd0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 18px;
}

h3, h2 {
	font-size: 16px;
	clear: both;
	padding-bottom: 5px;
	color: #452c1b;
	text-transform: uppercase;
}

h4 {
	font-size: 15px;
	clear: both;
	margin-bottom: 5px;
}

img {
	border: none;
}

select {
	margin-top: 3px;
	margin-bottom: 3px;
}

input, select, textarea {
	border: 1px solid #cccccc;
	margin: 2px;
	background-image: url("./images/input.jpg");
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #efefef;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}

input, textarea {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 3px;
	padding-right: 3px;
	
}

input.bouton, input.boutonrechercher {
	color: #ffffff;
	background-color: #ed4837;
	background-image: none;
    cursor: pointer;
	padding-top: 0px;
	padding-bottom: 0px;
	border: 1px solid #ed4837;
	font-size: 14px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-moz-box-shadow: 0px 1px 0px #ffffff inset;
	-webkit-box-shadow: 0px 1px 0px #ffffff inset;
	-o-box-shadow: 0px 1px 0px #ffffff inset;
	-ms-box-shadow: 0px 1px 0px #ffffff inset;
	box-shadow: 0px 1px 0px #ffffff inset;
}

input.bouton:hover, input.boutonrechercher:hover {
	background-color: #94c130;
	border: 1px solid #94c130;
}

input[type="checkbox"] {
    margin-left: 2px;
    margin-right: 2px;
}

hr {
	background-color: #cccccc;
	color: #cccccc;
	border: 0px;
	height: 1px;
	margin-bottom: 5px;
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                                   Tableaux                                 */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


table {
	border-collapse: separate;
	width: 100%;
}

.exemplaires { 
	border-collapse: collapse;
}

.expl_cote {
	font-weight: bold;
	color: #ff0000;	
}

th {
	text-align: left ;
	background-color: #ececec;
	padding: 2px;
}

tr.even {
}

tr.odd {
	background-color: #eeeeee;
}

tr.surbrillance {
	background-color: #cccccc;
}

tr.surbrillance a {
	text-decoration: none;
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                                 Portail                                    */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


#cms_module_menu_13, #cms_module_menu_54 {
	bottom: 9px;
}

#cms_module_menu_54 .cms_menu_deep0 li:last-child {
    border-right: 1px solid #ffffff;
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                         Petit module de recherche                          */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


.searchbox {
	text-align: left;
}

.searchbox input[name="user_query"] {
	width: 45%;
	margin-bottom: 5px;
	margin-right: 5px;
}

.searchbox .bouton {
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                                 Carrousel                                  */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

#cms_module_recordslist_83, #cms_module_recordslist_23 {
	background-image: url("./images/serti.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
}

#cms_module_articleslist_21 .bx-wrapper {
	background-image: url("./images/carrousel.jpg");
    background-position: left top;
    background-repeat: repeat-x;
	background-color: #cddd57;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.bx-prev {
    background-image: url("./images/prev.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 33px;
    width: 33px;
    z-index: 999;
    position: absolute;
    top: 35%;
    left: 0px;
}

.bx-next {
    background-image: url("./images/next.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 33px;
    width: 33px;
    z-index: 999;
    position: absolute;
    top: 35%;
    right: 0px;
}

.bx-pager {
    bottom: 15px;
    position: absolute;
    width: 100%;
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                              Page Inscription                              */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


#subs_form table td input.subsform {
	width: 195px;
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                  Mise en forme de la fiche emprunteur	                  */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


#fiche-empr, #empr-all, #empr-late, #empr-old, #empr-resa, #empr-dsi, #empr-sugg,
#empr-list, #empr-dema {
	margin-top: 45px;
	clear: both;
} 

.form_liste_lecture .form-contenu .row .colonne2 .row textarea {
	max-width: 355px;	
}

.form_liste_lecture h3 {
	margin-top: 20px;
}

#fiche-empr h3 {
	margin-bottom: 10px;
}

#comment {
	max-width: 615px;
}

.form_liste_lecture .left {
	float: none;
	margin-bottom: 5px;	
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                               Notices affichage                            */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


.bg-grey {
	background-color: #ececec;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.notice-parent {
	padding-bottom: 5px;
    margin-bottom: 5px !important;
    border-bottom: 1px dotted #cccccc;
}

.notice-parent .notice-heada i {
	font-style: normal;
}

.notice-child {
    margin-bottom: 20px!important;
    margin-left: 15px;
}

.notice-child h3, #notice h3 {
    padding: 0px;
    font-size: 15px;
}

#bt_resa {
    margin-left: 3px;
}

.vignetteimg {
	max-width: 140px;
	max-height: 200px;
	width: expression(this.width > 140 ? "140px" : true);
	height: expression(this.height > 200 ? "200px" : true);
	-moz-box-shadow: 1px 1px 5px #cccccc;
	-webkit-box-shadow: 1px 1px 5px #cccccc;
	box-shadow: 1px 1px 5px #cccccc;
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                                   Pop-up                                   */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


#make_sugg {
}
	
#titre-popup {
	font-size: 16px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: 1px solid #cfcdcb;
    color: #0058A6;
    padding-bottom: 3px;
}

form#f {
	margin-left: 10px;
}

.echelle_avis {
	padding: 7px;
}

.alerte {
	color: #ff0000;
	font-size: 14px;
}

#print_options {
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
}

#print_options b {
	color: #452C1B;
    text-transform: uppercase;
    font-size: 18px;
	padding-bottom: 5px;
	display: block;
}

#print_options blockquote {
    margin-top: 5px;
    text-align: justify;
    margin-bottom: 15px;
}

#print_options textarea {
	margin-top: 5px;
	max-width: 85%;
}

body#help_popup {
	background-position: center top;
	background-repeat: repeat-x;
	background-image: url("./images/fond.jpg");
	background-color: #8FC9CB;
}

#help-container {
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: left top;
	background-image: url("./images/frise.jpg");
	-ms-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid #ffffff;
	-ms-box-shadow: 0px 0px 5px #666666;
	-o-box-shadow: 0px 0px 5px #666666;
	-moz-box-shadow: 0px 0px 5px #666666;
	-webkit-box-shadow: 0px 0px 5px #666666;
	box-shadow: 0px 0px 5px #666666;
}

#help-container h2 {
	color: #452C1B;
    text-transform: uppercase;
    font-size: 18px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
    clear: both;
    padding-bottom: 5px;
}

#help-container p, #help-container ul {
	margin-bottom: 10px;
	margin-top: 0px;
	margin-right: 10px;
	margin-left: 10px;
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                            CLASSES GENERIQUES                              */
/*                 divers pour les affichages simples de texte                */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


/* surlignage des mots recherches */
.text_search0 {
	background-color: #8FC9CB;
	text-decoration: underline;
}

.text_search1 {
	background-color: #d7db48;
	text-decoration: underline;
}

.text_search2 {
	background-color: #95c130;
	text-decoration: underline;
}

.text_search3 {
	background-color: #f28c10;
	text-decoration: underline;
}

.text_search4 {
	background-color: #109ED0;
	text-decoration: underline;
}

.text_search5 {
	background-color: #ececec;
	text-decoration: underline;
}

.categmouseover {
	border: 1px solid #8FC9CB;
	background-color: #ffffff;
	position: absolute;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	z-index: 2000;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.listedescription {
	border: 1px solid #8FC9CB;
	background-color: #ffffff;
	position: absolute;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	z-index: 2000;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.colonne_suite {
    float: left;
    width: 50%;
}

.colonne2 {
    float: left;
    width: 50%;
}

